-e git+https://github.com/geosolutions-it/geonode-subsites@main#egg=geonode-subsites
-e git+https://github.com/GeoNodeUserGroup-DE/contrib_datapackage.git@geonode-v4.4.3+datapackage002#egg=importer_datapackage
frictionless>=5.17.0
